@rate_limited {
  ratelimit {
    rate 10 1m
    burst 5
    ip_mask 32
  }
}

localhost {
  # Proxy requests to the event storing endpoint of Sentry
  handle /api/store/* {
    # Rate limit requests to the event storing endpoint
    handle @rate_limited {
      respond "Too many requests" 429
    }
    reverse_proxy sentry:9000
  }

  # Default handler for all other requests
  respond "Not found" 404
}
